.row1 {
  height: auto;
  display: flex;
  flex-direction: row;
}
.main2 {
  width: 70%;
  background-color: white;
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.blog {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 3px 4px 8px 1px #3b3b3b;
  border-radius: 5px;
}
.blog_1dio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.blog_2dio {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.blog_2dio p {
  word-wrap: break-word;
  padding-top: 40px;
  margin-right: 20px;
  color: #333;
}
.blog_1dio a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

.blog_1dio p {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
form {
  width: 30%;
  height: 40px;
}
.detaljnije {
  width: 60%;
}
.detaljnije input {
  margin-top: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: white;
  color: orangered;
  border: 2px solid orangered;
  width: 30%;
  height: 40px;
  border-radius: 25px;
}

.detaljnije input:hover {
  background-color: orangered;
  color: white;
  cursor: pointer;
}

.slike_kartice {
  height: 150px;
  width: 80%;
  margin-top: 10px;
}
.cilj {
  padding-top: 30px;
}
.search {
  background-image: url("../images/magnifier.png");
  background-position: 8px 7px;
  background-repeat: no-repeat;
  width: 98%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  box-shadow: 3px 4px 7px 1px #484848;
  border-radius: 5px;
  margin-bottom: 12px;
}
@media screen and (max-width: 1000px) {
  .row1 {
    flex-direction: column;
  }

  .main2 {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .blog_1dio {
    width: 46%;
  }
  .blog_2dio {
    width: 54%;
  }
  .search {
    width: 95%;
  }
}
@media screen and (max-width: 650px) {
  .blog {
    flex-direction: column;
  }
  .blog_2dio {
    width: 97%;
  }
  .blog_2dio p {
    padding-top: 20px;
  }
  .detaljnije {
    width: 80%;
  }
  .slike_kartice {
    height: 200px;
    width: 80%;
    margin-top: 10px;
  }
  .blog_1dio {
    width: 100%;
  }
  .blog_2dio p {
    margin-right: 10px;
    margin-left: 10px;
  }
}
